.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
  }
  .search-icon{
      position: absolute;
      z-index: 10;
      right: 43%;
      top: 20px;
      color: blue;
  }
  .mx-2 {
     color:#fff;
     font-size: 20px;
  }
  