
<header>
    <div class = "navbar navbar-dark bg-primary shadow-sm">
     <div class="navbar-brand align-item-center d-flex">
         <i style="font-size: 40px;" class="fas fa-shipping-fast">&nbsp;
  
         </i>
         <strong style="font-size: 30px;">Shop For Home</strong>
         <div class="form-group">
             <input type="text" class="form-control"[(ngModel)]="searchTerm"  (keyup)="search($event)" placeholder="Search Products">
         </div>
         <span class="fas fa-search search-icon"></span>
     </div>
     <div >
        <button  routerLink="products"  class="btn btn-primary mx-2">Home</button>
        <button  routerLink="userregister"  class="btn btn-primary mx-2">User</button>
        <button  routerLink="adminsignup"  class="btn btn-primary mx-2">Admin</button> 
    </div>
     <button routerLink="cart" class="btn btn-primary">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
    </button>
</div>
  
  </header>
  
