<div>  
    <div class="container" >
    <div class="text-center">
        <button routerLink="/userregister"  class="btn btn-primary mx-2">User Register</button>
        <button style="margin-right: 20px; "routerLink="/userlogin"  class="btn btn-primary mx-2">User Login</button>
    <button routerLink="/users"  class="btn btn-primary mx-2">User CRUD</button>
    <button routerLink="/ecommerce" class="btn btn-primary mx-2">Products CRUD</button><br/>
    </div>
    </div>
   <!---- <div class ="container">         
    <div class="div-left" >
                <h1>Admin Register</h1>
                <form #AdminRef="ngForm" (ngSubmit)="storeAdmin(AdminRef)">
                    <label>Email</label><br/>
                    <input type="text" name="email" ngModel/><br/>
                    <label>Password</label><br/>
                    <input type="text" name="password"  ngModel/><br/>
        <button style="margin:5px;" type="submit" class="btn btn-primary ">Register</button>
        <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
    </form>
    <br/>
    <span style="color:red;font-size: 20px;">{{storeMsg}}</span>
    </div> -->
   <!----<input type="button" value= "Display User" (click)="loadUsers()">-->
   <!--<br/>
   <div class ="container"> 
    <div class="div-right">
    <h1> Admin Login </h1>
    <form (ngSubmit)= "loginAdminInfo()">
        <label>Email</label><br/>
        <input type="text" name="email" [(ngModel)]="email"  /><br/>
        <label>Password</label><br/>
        <input type="text" name="password"[(ngModel)]="password"/><br/>
        <button  style="margin:5px;"  type="submit" class="btn btn-primary">Login</button>
        <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
    </form>
    <br/>
    <span style="color:red;font-size: 20px;">{{loginMsg}}</span>
    </div>
</div>-->
<br/>
<h2>Admin Details</h2><br/>
    <table >
        <tr>
            <th>Email</th>
            <th>Password</th>
            <!--<th>Logout</th> -->
            <th>Admin Details</th>
        </tr>
        <tr *ngFor="let admin of admins">
            <td>{{admin.email}}</td>
            <td>{{admin.password }}</td>
            <!--<td>{{dd| date:'short'}}</td> -->
            <!---- <td>{{dd| date:'long'}}  -->
           <!--<td>{{dd| date:'dd-MM-yyyy hh:mm:ss'}}</td> -->
           <!--- <td><input type="button" value="Logout" class="btn btn-primary" (click)="logoutAdmin(admin.email)"/></td>-->
            <td>{{admin| json}}</td>
        </tr>
    </table>
    <br/>
    <span style="color: deeppink;font-size: 20px;">{{logoutMsg}}</span>
</div>






