<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>User Login</h1>
                    <h6>Please Enter mail & Password!!</h6>
                </div> 
                  <!---- <form (ngSubmit)= "loginUserInfo()"> -->
                    <form #userform="ngForm" (ngSubmit)="loginUserInfo()">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email</label><br/>
                          <input type="text" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"  [(ngModel)]="email" >
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label><br/>
                          <input type="text" name="password" id="exampleInputPassword1"  [(ngModel)]="password">
                        </div>
                        <button routerLink="/products" type="submit"  class="btn btn-primary">Login</button>
                      </form>
                      <a  style="color:#fff;margin-top: 10px;" routerLink="/userregister">New User? Click to SignUp!!</a>
                      <br/>
                      <span style="color: red;font-size:20px;" >{{loginMsg}}</span> 
                <br/>
                      <div class="text-center">
                      <button style=" float:left;" routerLink="/userregister" type="submit"  class="btn btn-primary mx-2" (click)="logoutUser(email)">Logout</button>
                      <br/>
                      <span style="color: red;font-size:20px;" >{{logoutMsg}}</span>
                      </div> 
            </div>
        </div>
    </div>
</div>

        
               
          
