<div>
    <div class="container">
        <div *ngIf="flag">
            <h1>Update Product</h1>
            <form (ngSubmit)="updateProductPrice()">
                <label>PId</label><br/>
                <input type="number" name="pid"[(ngModel)]="pid" readonly/><br/>
                <label>Price</label><br/>
                <input type="number" name="price"[(ngModel)]="price"/><br/>
                <button  style="margin:5px;"  type="submit" class="btn btn-primary">Update Product</button>
                <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
            </form>
        </div>
        </div>
        <h1>Products Details</h1>
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">PId</th>
            <th scope="col">PName</th>
            <th scope="col">Price</th>
            <th scope="col">Images</th>
            <th scope="col">Category</th>
            <th scope="col">Delete Product</th>
            <th scope="col">Update Product</th>
            <th scope="col">Product Details</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.pid}}</td>
            <td>{{product.pname }}</td>
            <td>{{product.price}}</td>
            <td><img src={{product.url}} width="200px" heigth="200px"/> </td>
            <td>{{product.category}}</td>
            <td><input type="button" value="Delete"  class="btn btn-danger" (click)="deleteProduct(product.pid)"/></td>
            <td><input type="button" value="Update" class="btn btn-success"  (click)="updateProduct(product)"/></td>
            <td>{{product | json}}</td>
        </tr>
    </tbody>
    </table>
    <br/>
    <span style="color: deeppink;font-size: 20px;">{{deleteMsg}}</span>
    <br/>
    <span style="color: deeppink;font-size: 20px;">{{updateMsg}}</span>
    <br/>

        <div class="card" >
            <h1>Add Products</h1>
            <form #productRef="ngForm" (ngSubmit)="storeProduct(productRef)">
                <label>PId</label><br/>
                <input type="number" name="pid" ngModel/><br/>
                <label>PName</label><br/>
                <input type="text" name="pname"  ngModel/><br/>
                <label>Price</label><br/>
                <input type="number" name="price"  ngModel/><br/>
                <label>Image URL</label><br/>
                <input type="url" name="url"  ngModel/><br/>
                <label>Category</label><br/>
                <input type="text" name="category"  ngModel/><br/>
                <button  style="margin:5px;"  type="submit" class="btn btn-primary">Store Product</button>
                <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
            </form>-->
        <!--<input type="button" value= "Display Product" (click)="loadProducts()">-->
            <br/>
            <span style="color: deeppink; font-size: 20px;">{{storeMsg}}</span>
            <hr/>
            </div>
            </div>


