h1{
  color:fuchsia;
  font-size: 40px;
  text-align: center;
}
label{
  color:#583759;
  font-size:30px ;

  }
table, th,td {
        border: 1px solid black;
        margin-left: 0.5%;
        margin-right:50%; 
      }
.card{
    align-items: center;
    float:left;
    align-items: center;
    background-color: aqua ;
    border-style: outset;
    border-color: coral;
    border-width: 7px;
    border-radius: 30px;
    width: 400px;
    padding: 18px;
    margin: 20px;      
      }
  .container{
  float:right;
align-items: center;
background-color:aquamarine;
border-style: outset;
border-width: 5px;
border-radius: 30px;
margin: 50px;
width: 400px;
border:#fff;
          } 
          

