<ng-container *ngIf="products.length !=0">
    <div class="container">
    <div class="card-table">
        <div class = "cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Product Name</th>
                        <th>Product Image</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{product.pname }}</td>
                        <td><img src={{product.url}} width="200px" heigth="200px"/> </td>
                        <td>{{product.price | currency:'INR'}}</td>
                        <td>{{product.category}}</td>
                        <td style="width: 25%;">{{product.quantity}}
                        <button type ="button" class="btn" (click)="des(product)"><i class="fa fa-minus"></i></button>
                     <button type ="button" class="btn" (click)="inc(product)"><i class="fa fa-plus"></i></button></td> 
                        <td style="width: 25%;" >{{product.quantity*product.price}} </td>
                        <td>
                            <button (click)="removeItem(product)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </td>
                        
                       <!---- <td style="width: 25%;">{{product.quantity*product.price}}</td>-->
                    </tr>
                    <tr>  
                        <td colspan="4"></td>
                        <td><button (click) ="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                        <td><button  routerLink="/products" class="btn btn-primary">Shop More</button></td>
                       <!---- <td><button  routerLink="/payment"  class="btn btn-success">Check Out</button></td>-->
                       <td><button  (click) ="updatecart()" class="btn btn-success">Update Amount</button></td>
                       <td><strong>Grand Total : {{grandTotal | currency:'INR'}}</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <button  routerLink="/checkout"  class="btn btn-success">Proceed to Check Out</button>
</ng-container>
<ng-container *ngIf="products.length==0">
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>        
    </div>
    <div class="center">
        <img src ="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
        <h4>Your Cart is Empty!</h4>
        <h6>Add Item to Your Cart</h6>
        <button routerLink="/products" class= "btn btn-primary">Shop Now</button>
    </div>
</div>
</ng-container>


