
<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class = "item">
             <a (click)="filter('')">
                 <img src="https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100" alt="">
                 <h6>All Products</h6>
             </a>
        </div>
        <div class = "item">
            <a (click)="filter('Electronics')">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/69c6589653afdb9a.png?q=100" alt="">
            <h6>Electronics</h6>
            </a>
        </div>
        <div class = "item">
            <a (click)="filter('Mobiles')">
            <img src="https://rukminim1.flixcart.com/flap/128/128/image/22fddf3c7da4c4f4.png?q=100" alt="">
            <h6>Mobiles </h6>
            </a>
        </div>
        <div class = "item">
            <a (click)="filter('Jewellery')">
            <img  style ="width:52px;margin-top: 12px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVg8PB6VHIyj-u-I-W7byKaL4X5YqPOttCEQ&usqp=CAU" alt="">
            <h6>Jewellery</h6>
            </a>
        </div>
</div>

    <div class="container">
        <div class="row">
            <ng-container *ngFor="let product of filterCategory | filter:searchKey:'pname'">
        <div class ="card col-md-3">
            <img src="{{product.url}}" alt="">
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.pname}}</h5> 
            <p><strong>Price:</strong>{{product.price}}</p>
          <!----  <i class="far fa-heart float-right"></i>-->
            <button class="btn btn-primary"  (click)="addtocart(product)">Add to Cart</button>
        </div>
                </ng-container>
            </div>
        </div>
       </div>
    
    

