<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Admin SignUp</h1>
                    <h6>Register Yourself!!</h6>
                </div>
                    <form #AdminRef="ngForm" (ngSubmit)="storeAdmin(AdminRef)">
                        <div class="mb-3">
                          <label for="exampleInputEmail1" class="form-label">Email address</label>
                          <input  type="text" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel >
                          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label">Password</label>
                          <input type="text" name="password" class="form-control" id="exampleInputPassword1" ngModel>
                        </div>
                        <button type="submit" class="btn btn-primary">SignUp</button>
                      </form>
                <a  style="color:#fff;margin-top: 10px;"routerLink="/adminlogin">Already Registered? Click to SignIn!!</a>
                <br/>
                <span style="color:red;font-size: 20px;">{{storeMsg}}</span>
    
            </div>
        </div>
    </div>
</div>


