<div>
    <!--<div class="container" >
        <div class="div-left">
                <h1>User Register</h1>
                <form #UserRef="ngForm" (ngSubmit)="storeUser(UserRef)">
                      <label>Email</label><br/>
                    <input type="text" name="email" ngModel/><br/>
                    <label>Password</label><br/>
                    <input type="text" name="password"  ngModel/><br/>
                    <button style="margin:5px;" type="submit" class="btn btn-primary ">Register</button>
                    <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button> 
    <br/>
</form>
    <span style="color:red;font-size: 20px;">{{storeMsg}}</span>
</div>
</div> -->
<!--<input type="button" value= "Display User" (click)="loadUsers()">-->

<!--<div class="container" >
    <div class="div-right">
    <h1>User Login</h1>
    <form (ngSubmit)= "loginUserInfo()">
        <label>Email</label><br/>
        <input type="text" name="email" [(ngModel)]="email"  /><br/>
        <label>Password</label><br/>
        <input type="text" name="password"[(ngModel)]="password"/><br/>
        <button  style="margin:5px;"  type="submit" class="btn btn-primary">Login</button>
        <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
    </form>
    <br/>
    <span style="color: red;font-size:20px;">{{loginMsg}}</span>
    </div>
    </div> -->
    <h1>User Details</h1><br/>
   
    <div class="card">
    <div *ngIf="flag">
        <h2>Update User</h2>
        <form (ngSubmit)="updateUserInfo()">
            <label>Email</label><br/>
            <input type="text" name="email"[(ngModel)]="email" readonly /><br/>
            <label>Password</label><br/>
            <input type="text" name="password"[(ngModel)]="password"/><br/>
            <button  style="margin:5px;"  type="submit" class="btn btn-primary">Update User</button>
            <button style="margin:5px;" type="reset" class="btn btn-primary ">Reset</button>
        </form>
    </div>
</div>
        <br/>
    <span style="color:red;font-size: 20px; align-items: center;">{{updateMsg}}</span>
<br/>
    <table >
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Date</th>
            <th>Delete User</th>
            <th>Update User</th>
            <th>User Details</th>
        </tr>
        <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.password }}</td>
            <td>{{dd| date:'short'}}</td> 
            <!---- <td>{{dd| date:'long'}}  -->
           <!--<td>{{dd| date:'dd-MM-yyyy hh:mm:ss'}}</td> -->
            <td><input type="button" value="Delete"  class="btn btn-danger" (click)="deleteUser(user.email)"/></td>
            <td><input type="button" value="Update"   class="btn btn-success"(click)="updateUser(user)"/></td>
           <!--<td><input type="button" value="Logout" class="btn btn-primary" (click)="logoutUser(user.email)"/></td>-->
            <td>{{user| json}}</td>
        </tr>
    </table>
    <br/>
    <span style="color:red;font-size: 20px;">{{deleteMsg}}</span>
    <br/>
    <span style="color: red;font-size:20px;text-align:center;">{{logoutMsg}}</span>
</div>



